* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
padding-right: 20px;
}

.main-nav {
list-style-type: none;
}

hr{
margin-top: 50px;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

@media (min-width: 500px) {
    .media-card {
        display: flex;
        flex: 1 1 500px;
    }    
    .gallery {
        display: flex;
        flex-wrap: wrap
    }
}