#credit-card-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 20px; 
    gap: 10px;
}
#total {
    grid-column: 1 / 2;
}

#emoji {
    grid-column: 2 / 3;
    text-align: right;
}

.front {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    gap: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
}

.back {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    background-color: #d0d0d0;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    z-index: 1;
}
.reader {
    background-color: black;
    height: 20px;
    grid-column: 1 / -1;
}
#cardcvccvv {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
button {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    align-self: end;
    z-index: 3;
}