body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    background-color: #222;
    color: white;
    padding: 1rem;
    text-align: center;
}
.main-nav {
    list-style: none;
    padding: 0;
}
.main-nav li {
    padding: 8px;
    text-align: right;
}
.main-nav a {
    color: #ffc107;
    text-decoration: none;
}
#book-list {
    padding: 0 2rem;
}
.book {
    /* border: 2px solid #ccc; */
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
}
.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
    grid-column: 2;
    grid-row: 1;
}
.book p {
    padding-left: 20px;
}
.book img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}
#book-info {
    text-align: right;
    border-right: 1px solid orange;
    padding-right: 10px;
    grid-row: 1/6;
}

@media (min-width: 600px) {
    .book {
        display: grid;
        grid-template-columns: 1fr;
    }
    .book img {
        grid-column: 2;
        grid-row: 2/6;
    }
    .main-nav {
        grid-template-areas: "space about archive search";
        /* grid-area: auto; */
        display: grid;
    }
    .main-nav li:nth-child(1) {
        grid-area: about;
    }
    .main-nav li:nth-child(2) {
        grid-area: archive;
    }
    .main-nav li:nth-child(3) {
        grid-area: search;
    
    }
    #desc {
    grid-column: 1 / -1;
}
}